html,
body {
  font-family: 'Roboto', sans-serif;

  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  color: inherit;
}

/*
  App Component
*/
#app-container {
  display: flex;
  flex-direction: column;

  align-items: center;
}

/*
  Home Component
*/
#home-container {
  display: flex;
  flex-direction: column;

  text-align: center;

  align-items: center;
}

#title-container {
  width: 100vw;
  height: 500px;

  color: white;
  background-image: linear-gradient(to top, rgba(256,256,256,1), rgba(0,0,0,0)5%),
  url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/El_Ateneo_bookstore_%285460034464%29.jpg/1280px-El_Ateneo_bookstore_%285460034464%29.jpg);
  background-position: center top;
}

#main-title {
  font-size: 5em;

  margin-top: 150px;
  margin-bottom: 0;
}

.main-subtitle {
  margin-top: 0;

  color: rgba(256,256,256,0.8);
}

#main-sub01 {
  font-size: 2em;

  margin-top: 15px;
  margin-bottom: 15px;
}

#home-button-container {
  width: 300px;
  margin-top: 30px;
  // margin-left: -8px;

  justify-content: space-between;
}

.component-container {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.books-container {
  display: flex;
  flex-direction: row;

  margin-top: 30px;

  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

.book-card {
  position: relative;

  display: flex;

  min-width: 290px;
  min-height: 400px;
  margin: 15px;

  align-items: flex-start;
  direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.book-image {
  width: 300px;
  max-height: 400px;
}

.book-info {
  width: 280px;
  margin: 10px;
  padding-top: 0;
}

.buttons-card-container {
  position: absolute;
  right: 0;
  bottom: 0;

  float: right;

  height: 40px;
  margin-right: 5px;

  align-self: flex-end;
}

/*
  SignUp Component
*/
#signup-container {
  display: flex;
  flex-direction: column;

  width: 300px;
  margin-top: 100px;

  align-items: center;
}

.form-field {
  margin: 10px auto;
}

.signup-button {
  margin-top: 30px !important;
}

/*
  Login Component
*/
#login-container {
  display: flex;
  flex-direction: column;

  margin-top: 100px;

  align-items: center;
}

.login-button {
  max-width: 100px;
  margin-top: 30px !important;
}



#profile-container {
  width: 300px;
  margin-top: 100px;

  text-align: center;
}


.search-container {
  margin-top: 30px;
  margin-bottom: 20px;
}

.search-text {
  width: 200px;
}
